<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   logs.plist
   HomeWork3

   Created by intern on 2/8/17.
   Copyright (c) 2017 Eugene Mekhedov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
